<p> <id="notice"><%= notice %></p>

<h1>物権情報</h1>

<table>
  <thead>
    <tr>
      <th>物件名</th>
      <th>賃料</th>
      <th>住所</th>
      <th>築年数</th>
      <th>備考</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @rent_houses.each do |rent_house| %>
      <tr>
        <td><%= rent_house.home_name %></td>
        <td><%= rent_house.rent.to_s%> 円</td>
        <td><%= rent_house.address %></td>
        <td><%= rent_house.age.to_s %>年</td>
        <td><%= rent_house.note %></td>

        <td><%= link_to '詳細', rent_house %></td>
        <td><%= link_to '編集', edit_rent_house_path(rent_house) %></td>
        <td><%= link_to '削除', rent_house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '物件を登録する', new_rent_house_path %>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
        <span class="sr-only">Bootstrap</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Bootstrap

      </a>
    </div>
    <div id="gnavi" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="">top</a></li>
        <li><a href="">menu1</a></li>
        <li><a href="">menu2</a></li>
      </ul>
    </div>
  </div>
</nav>
