<h1>物件登録</h1>

<%= form_for @rent_house , url: rent_houses_path do |f| %>
  <div class="form-control">
    <%= f.label :home_name, "物件名" %><br />
    <%= f.text_field :home_name %>
  </div>

  <div class="form-control">
    <%= f.label :rent, "賃料" %><br />
    <%= f.text_field :rent %>円
  </div>

  <div class="form-control">
    <%= f.label :address, "住所" %><br />
    <%= f.text_field :address %>
  </div>

  <div class="form-control">
    <%= f.label :age, "築年数" %><br />
    <%= f.text_field :age %>年
  </div>

  <div class="form-control">
    <%= f.label :note, "備考" %><br />
    <%= f.text_area :note %>
  </div>
  <hr />

  <h3>最寄り駅1</h3>
    <%= f.fields_for :stations do |st| %>
      <div class="form-control">
        <%= st.label :along_the_line, "路線名" %><br />
        <%= st.text_field :along_the_line %>
      </div>

      <div class="form-control">
        <%= st.label :station, "駅名" %><br />
        <%= st.text_field :station %>
      </div>

      <div class="form-control">
        <%= st.label :walking_time, "徒歩分数" %><br />
          <%= st.text_field :walking_time %>分
        </div>



  <h3>最寄り駅2</h3>
  <%= f.fields_for :stations do |st| %>
    <div class="form-control">
      <%= st.label :along_the_line, "路線名" %><br />
      <%= st.text_field :along_the_line %>
    </div>

    <div class="form-control">
      <%= st.label :station, "駅名" %><br />
      <%= st.text_field :station %>
    </div>

    <div class="form-control">
      <%= st.label :walking_time, "徒歩分数" %><br />
        <%= st.text_field :walking_time %>分
      </div>



  <%= f.submit "登録する" %>
<% end %>
<br />
<%= link_to "戻る", :back %>
